body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #2c2c2c;
  color: #ffffff;
}

body.green {
  background-color: #e9f7ef;
  color: #2c3e50;
} 
body{
  font-family: sans-serif;
  
}

input, select, textarea {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}





